<div class="main-container">
<div class="center-container">
  <div class="search-container">
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="searchQuery" placeholder="Search products" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="searchProducts()">Search</button>
    <button mat-raised-button color="warn" (click)="resetSearch()">Reset</button>
  </div>
</div>

<div class="grid-container">
  <div class="grid-item" *ngFor="let product of filteredProducts.length ? filteredProducts : products">
    <a [routerLink]="'/product/' + product._id">
      <img [src]="product.image" alt="{{ product.name }}" />
      <div class="product-details">
        <h3>{{ product.name }}</h3>
        <p><strong>{{ product.currency }}</strong> {{ product.price }}</p>
      </div>
    </a>
  </div>
</div>


<div *ngIf="filteredProducts.length === 0" class="pagination">
  <button mat-button class="pagination-button" (click)="changePage(-1)" [disabled]="currentPage === 1">
    Previous
  </button>
  <span>Page {{ currentPage }}</span>
  <button mat-button class="pagination-button" (click)="changePage(1)">
    Next
  </button>
</div>

<div class="loading-card" *ngIf="loading">
  <div class="loader"></div>
  <p>Loading...</p>
</div>
</div>